[Unit]
Description=3D Printer RPC Server
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/print-server
ExecStart=/usr/bin/print-server -u $UPLOAD_DIR -c $KLIPPER_CFG -l $KLIPPER_LOG
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
